<!DOCTYPE html>
{% spaceless %}
<html lang="pl">
<head>
    <base href="/" />

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{%block title%}{%endblock%} - Bookkeping</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/ite-pdf-editor.css">

	{%block head%}
	{%endblock%}

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bookkeeping</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Forms <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/questionnaire/proposal_benefit">todo</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Managment <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a [routerLink]="['ManagmentForm']">Forms</a></li>
              </ul>
            </li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">
    {%block body%}
    {%endblock%}
  </div> <!-- /container -->
  
    <script src="/js/ite/Ite.js"></script>
    <script src="/js/ite/module/Ajax.js"></script>
    <script src="/js/ite/module/Route.js"></script>
    <script src="/js/ite/element/IteElement.js"></script>
    <script src="/js/ite/element/IteFormElement.js"></script>
    <script src="/js/ite/element/IteFieldAutoCompleteElement.js"></script>
    <script src="/js/ite/element/IteFieldCheckboxElement.js"></script>
    <script src="/js/ite/element/IteFieldDateElement.js"></script>
    <script src="/js/ite/element/IteFieldDateTimeLocalElement.js"></script>
    <script src="/js/ite/element/IteFieldElement.js"></script>
    <script src="/js/ite/element/IteFieldSearchElement.js"></script>
    <script src="/js/ite/element/IteFieldSelectElement.js"></script>
    <script src="/js/ite/element/IteTableElement.js"></script>
    <script src="/js/ite/element/ItePdfEditorElement.js"></script>

    <script src="/js/ite/controller/ManagmentForm.js"></script>
    <script src="/js/ite/App.js"></script>


	<!-- start:javascript -->
	{%block script%}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	{%endblock%}
	<!-- end:javascript -->


</body>
</html>	
{%endspaceless%}