{% extends _request.isAjax ? "blank.twig" : "base.twig" %}
{%block body%}

<div role="pdf-preview">
{%for page in pages%}
	<div role="pdf-preview-page" data-image="/form/image/{{page}}"></div>
{%endfor%}

	{{form.renderFields|raw}}
</div>

{%endblock%}