@font-face {
  font-family:"Cousine";
  src:url("/fonts/cousine/Cousine-Regular.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

.pdf-preview{
  position: relative;
  height: 100%;
  min-height: 400px;
}

.pdf-preview-workspace{
  max-height: 500px;
  overflow: auto;
  background-color: #ADADAD;
}


.pdf-preview-page{
  text-align: center;
  margin: 30px 0;
}

.pdf-preview-page-content{
    position: relative;
    display: inline-block;
}

.pdf-preview-page-content > img{
  box-shadow: 10px 10px 5px #888888;
}

.pdf-preview-component{
  position: absolute;
  top: 0;
  left: 0;
  border: 0px solid #000000;
  background-color: transparent;
  font-family: "Cousine";
}

